@import "./Header.css"; 
@import "./Time.css"; 
@import "./Advertisement.css"; 
@import "./Features.css"; 
@import "./Statistics.css"; 
@import "./Technology.css"; 
@import "./Mode.css"; 
@import "./Pricing.css"; 
@import "./Testimnials.css"; 
@import "./Download.css"; 
@import "./Time.css"; 
@import "./Faq.css"; 
@import "./Footer.css"; 
@import "./Modal.css"; 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    list-style: none;
    text-decoration:none;
}

