.technology{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;


}

.technology__firstPart{
    width: 100%;
    margin: 0px;
    padding: 100px 136px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}

.speedSecurity{
    background: #F2F2F2;
    width: 100%;
}
.speedSecurity__box{
    max-width: 1440px;
    margin: 0px auto;
    padding: 100px 136px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}

.technology__conten{
    position: relative;
    max-width: 403px;
    max-height: 450px;
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px ;

}
.technology__conten h5{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.technology__conten h3{
    font-size: 32px;
    line-height: 36px;
    margin: 5px 0px 15px 0px;

}

.technology__conten p{
    font-size: 16px;
    line-height: 24px;

    color: #666666;

}

.technology__image{
    max-height: 545px;
    overflow: hidden;
}

.technology__image img{

    width: 376px;
}