.advertisement{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px;

}


  .advertisement__container {
    width: 100%;
    margin: 0px;
    padding: 0px 136px 0px 120px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;

  }

.advertisement__info{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #222222;
    margin: auto 0px ;

}

.advertisement__info img{
    width: 192px;
    height: 64px;
    overflow: hidden;


}

.advertisement__info h3{
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    margin: 11px 0px 17px 0px;

}

.advertisement__info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 

}

.advertisement__buttons {
    display: flex;
    flex-direction: row;
  
}

.pricing__by-now{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 10px 35px 10px; 
    margin: 20px 5px 0px 3px;
    height: 40px;
    background: #222222;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.pricing__button{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 10px  10px; 
    margin: 20px 5px 0px 3px;
    height: 40px;
    width: 145px;
    background: #222222;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}




.advertisement__buttons button:hover{
    background: #4E4E4E;
}

.advertisement__buttons button:focus{
    border: 2px solid #5AB0FF;}

.advertisement__buttons span{
    font-size: 14px;
    line-height: 14px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.advertisement__image{
    width: 376px;
    height: 548px;
    margin: 90px 0px 0px 0px;
    overflow: hidden;
}

.advertisement__image img{
    width: 376px;
}


@media screen and (max-width:720px) {

    .advertisement{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0px auto;
        padding: 0px;
    
    }
    
    
      .advertisement__container {
        width: 100%;
        margin: 20px 0px 0px;
        padding: 0px 5% 0px 5%;
            
      }
    
        
    .advertisement__info img{
        width: 160px;
        height: 50px;
        overflow: hidden;
    
    
    }
    
    .advertisement__info h3{
        font-size: 42px;
    
    }
    
    .advertisement__info p{
        font-size: 14px;
    
    }
    .advertisement__buttons {
        display: flex;
        justify-content: center;      
    }

    .advertisement__image{
        width: 276px;
        height: 348px;
        margin: 30px 0px 0px 0px;
        overflow: hidden;
    }
    
    .advertisement__image img{
        width: 276px;
    }
    

}
