.faq{
    background: #E5E5E5;
    width: 100%;
   
}
.faq__box{
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 105px 100px 85px 130px;
    color: #222222;
}

.faq__title h3{
    font-size: 32px;
    line-height: 36px;

}
.faq__title p{
    font-size: 15px;
    line-height: 20px;
    margin: 13px 0px 42px 0px;


}

.faq__container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: stretch;

}

.faq__item{
    max-width: 550px;
    margin-right: 43px;
}


.faq__item h4{
    font-size: 18px;
    line-height: 28px;
}

.faq__item p{
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0px 25px 0px;
}

@media screen and (max-width:1024px) {
    .faq__box{
        padding: 60px 60px 35px;
    }

    .faq__item{
        max-width: 500px;
        margin-right: 35px;
    }
}

@media screen and (max-width:444px) {
    .faq__box{
        padding: 20px 10px 15px;
    }

    .faq__item{
        margin-right: 0px;
    }
    
    
    
}